* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.music{
    margin-block: 20px;
}

audio{
    width: 500px;
}